h2 {
  font-size: 1.25rem;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  color: #707070;

  @media (min-width: 992px) {
    font-size: 2rem;
  }
}

.picture-and-info-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: center;
  }
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  max-width: 90%;
  max-height: 75vh;
}

button {
  color: #777;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
    transition-duration: .25s;

  &:hover{
    cursor: pointer;
    background-color: #777;
    color: white;
  }
}

