@import '../shared.scss';

h2 {
  font-size: 1.25rem;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  color: $gray;

  @media (min-width: $large) {
    font-size: 2rem;
  }
}

.picture-and-info-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: center;
  }
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;

  @media (min-width: $large) {
    margin-top: 0;
    margin-left: 1rem;

    font-size: 1.5rem;
  }
}

img {
  max-width: 90%;
  max-height: 75vh;
}

button {
  color: $gray;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
    transition-duration: .25s;

  &:hover{
    cursor: pointer;
    background-color: $gray;
    color: white;
  }
}

