.filtering-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 90%;
  }
}

.preview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
