@import '../shared.scss';

.filtering-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    border: 1px solid $gray;
    border-radius: 3px;
    width: 90%;
  }
}

.preview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
