.post-preview-card {
  box-shadow: 0px 3px 6px #777;
  width: 90%;
  margin: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;

    width: 500px;
  }
}

.post-title {
  margin-top: 1rem;

  @media (min-width: 992px) {
    margin-top: 0rem;
    margin-left: 1rem;
  }
}

img {
  align-self: center;
}